body {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

#creatorLogo {
  width: 5%;
}

#creatorName {
  font-size: 0.8rem;
  margin: 0;
}

.homepageCard {
  height: 450px;
  margin: 0 auto;
  text-align: center;
  margin: 1.5rem;
}

.homepageImage {
  height: 200px;
}

#articleDetailsContainer {
  width: 80%;
  text-align: center;
}

#articleDetailsImage {
  width: 75%;
  margin: 0 auto;
}