body {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

#creatorLogo {
  width: 5%;
}

#creatorName {
  font-size: 0.8rem;
  margin: 0;
}

.homepageCard {
  height: 450px;
  margin: 0 auto;
  text-align: center;
  margin: 1.5rem;
}

.homepageImage {
  height: 200px;
}

#articleDetailsContainer {
  width: 80%;
  text-align: center;
}

.articleDetailsImage {
  width: 10px;
  margin: 0 auto;
}

.articleDetailsTitle {
  text-align: center;
  padding: 2rem;
  color: white;
}

.articleDetailsCreator{
  text-decoration: none;
  color: #001F54;
}

.articleDetailsSummary {
  font-size: 1rem;
  color: white;
}

.articleDetailsOutsideLink {
  text-decoration: none;
  color: #1282A2;
}